n8n_report_workflow.json
{
  "name": "Design Automation Report Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "design-automation-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "id": "webhook-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "value2": "success"
            }
          ]
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [420, 300],
      "id": "check-status"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_DISCORD_WEBHOOK_ID/YOUR_DISCORD_WEBHOOK_TOKEN",
        "sendHeaders": true,
        "headerParameters": {
          "parameter": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameter": [
            {
              "name": "content",
              "value": "=🎉 **디자인 자동화 완료!**\n\n📁 파일: `{{$json[\"source_file\"].split(\"/\").pop() || $json[\"source_file\"].split(\"\\\\\\\\\").pop()}}`\n🧩 레이어 수: **{{$json[\"total_layers\"]}}개**\n⏱️ 소요 시간: {{$json[\"duration_seconds\"]}}초\n🔗 Figma: {{$json[\"figma_link\"]}}\n🕐 완료 시각: {{$json[\"timestamp\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [660, 200],
      "id": "discord-success"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_DISCORD_WEBHOOK_ID/YOUR_DISCORD_WEBHOOK_TOKEN",
        "sendHeaders": true,
        "headerParameters": {
          "parameter": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameter": [
            {
              "name": "content",
              "value": "=❌ **디자인 자동화 실패!**\n\n📁 파일: `{{$json[\"source_file\"]}}`\n🕐 시각: {{$json[\"timestamp\"]}}\n\n**오류 내용:**\n```\n{{$json[\"error\"] ? $json[\"error\"].substring(0, 500) : \"알 수 없는 오류\"}}\n```"
            }
          ]
        },
        "options": {}
      },
      "name": "Discord Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [660, 420],
      "id": "discord-error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"received\": true, \"status\": \"{{$json['status']}}\"}"
      },
      "name": "Respond to Pipeline",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 300],
      "id": "respond-webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]]
    },
    "Check Status": {
      "main": [
        [{ "node": "Discord Success", "type": "main", "index": 0 }],
        [{ "node": "Discord Error", "type": "main", "index": 0 }]
      ]
    },
    "Discord Success": {
      "main": [[{ "node": "Respond to Pipeline", "type": "main", "index": 0 }]]
    },
    "Discord Error": {
      "main": [[{ "node": "Respond to Pipeline", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
